* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
*
* Main Container
*
*/

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* 
*
* Main Background
*
*/

.main-background {
  width: 250px;
  height: 250px;
}

/* 
*
* Main Wrapper
*
*/

.main-wapper {
}
